<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bld.katana.mapper.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bld.entity.Order">
        <id column="order_id" property="orderId" />
        <result column="part_id" property="partId" />
        <result column="quantity" property="quantity" />
        <result column="deadline" property="deadline" />
        <result column="status" property="status" />
        <result column="team_id" property="teamId" />
        <result column="creator" property="creator" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, part_id, quantity, deadline, status, team_id, creator
    </sql>

    <select id="pageC" resultType="com.bld.entity.Order">
        select * from `order`
    </select>


</mapper>
